@model Tikasa.MVC.Models.AuthorizeModel
<header class="main-header stuck">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="logo-holder">
                    <a href="~/"><img style="width:158px;" src="~/Content/onyx/images/tikasalogo.png" alt="logo"></a>
                </div>

            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div id="mainmenu">
                    <div id="menu-button">Menu</div>
                    <ul>
                        <li>
                            <a href="#">Trang chủ</a>
                        </li>
                        <li>
                            <a href="#">Website</a>
                        </li>

                        <li>
                            <a href="#">Tên miền</a>
                        </li>
                        @if (!Model.IsLogined)
                        {
                            <li>
                                <a data-toggle="modal" href="#loginModal"><span class="ti-lock"></span> Đăng nhập</a>
                            </li>
                            <li>
                                <a href="#registerModal" data-toggle="modal"><span class="ti-user"></span> Đăng Ký</a>
                            </li>
                        }
                        else
                        {
                            <li class="has-sub">
                                <span class="submenu-button"></span>
                                <span class="submenu-button"></span>
                                <a href="#">@Tikasa.Session.WorkContext.BizKasaContext.UserName</a>
                                <ul>
                                    <li><a href="~/User">Bảng điều khiển</a></li>
                                    <li><a href="#">Features Single</a></li>
                                    <li><a href="~/Home/Logout">Thoát</a></li>
                                </ul>
                            </li>
                            
                        }
                        <li>
                            <a href="~/home/create" class="btn btn-success"> Đăng bán</a>
                        </li>

                        @*<li>
                                <a href="@"><span class="ti-user"></span> Đăng ký</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>