
@{
    ViewBag.Title = "Create";
}
<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/vd.css" rel="stylesheet" />

<div class="VerticalSelection___column" ng-controller="HomeController">
    <h1 class="heading VerticalSelection___heading spacing___mgnBottomXs heading--lg">Bạn muốn đăng bán gì?</h1>
    <form>
        <div class="grid grid--bleed" ng-init="Sell.IsWebsite=true">
            <div class="VerticalCardGroup___column grid__col-sm-6">
                <div class="VerticalCardGroup___card selectable-card">
                    <i class="icon VerticalCardGroup___icon icon--websites"></i>
                    <h1 class="heading heading--md heading--bold heading--caps">Websites</h1>
                    <p class="VerticalCardGroup___description">Trang bán hàng, giới thiệu, nội dung, blog, dịch vụ, tất cả những gì bạn có</p>
                    <label class="radio radio--md selectable-card__radio" ng-click="ChangeTypeSellMethod('website')">
                        <div class="radio__field">
                            <input type="radio" class="radio__input"   name="assetType" value="website"  ng-checked="Sell.IsWebsite" >
                            <span class="radio__check"></span>
                        </div>
                    </label>
                </div> 
            </div>
            <div class="VerticalCardGroup___column grid__col-sm-6">
                <div class="VerticalCardGroup___card selectable-card">
                    <i class="icon VerticalCardGroup___icon icon--domains"></i>
                    <h1 class="heading heading--md heading--bold heading--caps">Tên miền</h1><p class="VerticalCardGroup___description">Tên miền mà bạn sở hữu .com .net .org .io ...</p>
                    <label class="radio radio--md selectable-card__radio" ng-click="ChangeTypeSellMethod('domain')">
                        <div class="radio__field">
                            <input type="radio" class="radio__input" name="assetType" value="domain">
                            <span class="radio__check"></span>
                        </div>
                    </label>
                </div>
            </div>

        </div>
        <div class="grid grid--bleed">
            <div class="grid__col-sm-8 grid__col-md-10">
                <div class="VerticalSelection___propertyInputWrapper">
                    <div>
                        <label class="input__label">
                            <input class="input input--lg" value="" placeholder="Nhập tên website hoặc tên miền mà bạn muốn bán?" name="url" ng-model="Sell.Domain">
                        </label>
                        <div data-redux-field-error="url" data-error-message="Website is required">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__col-sm-4 grid__col-md-2" >
        <button type="submit" class="button button--lg button--secondary" ng-click="Create()">Bắt đầu</button></div>
        </div><!-- react-empty: 127 -->
        
        <input type="hidden" value="@ViewBag.userId" id="userId" />
    </form>


    <div class="modal fade" id="loginBeforeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="alert alert-error" role="alert" ng-show="Message!=undefined">
                                {{Message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <input type="text" class="form-control form-control-lg" ng-model="User.UserName" placeholder="Email hoặc tên đăng nhập" required>
                            <div class="invalid-feedback">
                                Bạn cần nhập tên đăng nhập !
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg" ng-model="User.Password" placeholder="Mật khẩu" required>
                            <div class="invalid-feedback">
                                Bạn cần nhập tên đăng nhập !
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn primary btn-block btn-lg" ng-click="LoginToContinue()">Đăng nhập</button>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <a href="#registerModal" data-toggle="modal" class=" btn-link">Đăng Ký</a>|<a href="" class="  btn-link">Quên mật khẩu ?</a>

                            </div>

                        </div>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/Scripts/App/home.js"></script>

    }