@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/index.css" rel="stylesheet" />

<div class="Page___page Page___flex">
    <section class="Hero___hero" style="background-image: url('//d2vcd0zmmc2wdz.cloudfront.net/fe/public/hero-0f345ce.jpg');">
        <div class="Hero___heroBody">
            <h1 class="Heading___heading Heading___xsSizeXlg Heading___mdSizeXxlg Heading___lgSizeXxxlg FlippaHome___mainHeading spacing___mgn0">
               Sàn mua bán website, tên miền
            </h1>
            <h2 class="Heading___heading Heading___xsSizeXlg Heading___mdSizeXxlg Heading___lgSizeXxxlg Heading___semiboldWeight FlippaHome___subHeading spacing___mgnTop0">
                Mua đảm bảo, bán nhanh chóng
            </h2>
            <form class="BannerSearch___searchForm">
                <div class="BannerSearch___searchBar">
                    <label class="input__label">
                        <input type="text" placeholder="Bạn muốn tìm gì?" class="input input--lg BannerSearch___searchInput" />
                    </label>
                    <button class="Button___md Button___secondary Button___button BannerSearch___submitButton" type="submit">Tìm kiếm</button>
                </div>
                <div class="BannerSearch___searchTypes">
                    <div class="BannerSearch___option" >
                    <label for="websites-radio" class="radio radio--lg">
                        <div class="radio__field" >
                        <input type="radio" id="websites-radio" class="radio__input" name="propertyType" value="websites" checked="">
                        <span class="radio__check" data-reactid="87"></span>
                            </div>
                    </label>
                    <label class="BannerSearch___radioLabel" for="websites-radio" >website</label>
                    </div>
                    <div class="BannerSearch___option">
                        <label for="domain-radio" class="radio radio--lg" >
                            <div class="radio__field" >
                                <input type="radio" id="domain-radio" class="radio__input" name="propertyType" value="domain"  >
                                <span class="radio__check" ></span>
                            </div>
                        </label>
                        <label class="BannerSearch___radioLabel" for="domain-radio">Tên miền</label>
                    </div>
                    <button class="Button___md Button___secondary Button___button BannerSearch___mobileSubmitButton" type="submit">Search</button>
                </div>
            </form>
        </div>
    </section>
</div>
